/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import 'bootstrap';

textarea{
  height: 240px;
  width: 98%;
}
.actions{
  clear: both;
  background: #eee;
  padding: 25px;
  text-align: center;
  .submit{
    float: right;
  }
}
.error{
  color: red;
  margin-top: -10px;
  font-size: 80%;
  display: block;
  float: right;
}
.issue_card{
  width: 100%;
  margin: 30px 0;
  td{ width: 33%; }
}

// code-coloring
.waiting_staff, .waiting_customer, .on_hold, .canceled, .completed {
  text-align: center !important;
  font-weight: bold;
  vertical-align: middle !important;
}
.waiting_staff { background-color: #eee !important; color: #000; }
.waiting_customer { background-color: #efe !important; color: #000; }
.on_hold {  background-color: #ddd !important; color: #999;  }
.canceled {  background-color: #a00 !important; color: #fff;  }
.completed {  background-color: #0a0 !important; color: #fff;  }

.inline{ display: inline-block;}

